---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Over the past several years I have gained experience teaching a range of subjects to both undergraduate students across a range of disciplines and in several higher education settings within China. 
Topics include:
• Ethics in research and professional practice
• Post-graduate research methods
• Introductory Psychology
• Mental Health Assessment

